*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 157, 255, 0.783);
    /* background: rgba(255, 204, 0, 0.783); */
    background-image: url("/images/pexels-johannes-plenio-1103970.jpg");
    background-size: cover;
    background-blend-mode:darken;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover */
}
.mainPage{
    /* background-image: url("/images/pexels-pixabay-247676.jpg");
    background-size: cover; */
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
header{
    background: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}
header:hover{
    box-shadow: -10px -10px 50px 10px #fff7005e;
    transition: 0.4s;
}
footer{
    background: rgb(0, 0, 0);
    color: white;
    font-family: montserrat;
    font-size: small;
    padding: 5px;
    text-align: center;
}
div .royalLogo{
    width: 60px;
}
div.mainPane{
    background: rgba(255, 255, 255, 0.74);
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 50px;
    /* max-width: 700px; */
    max-width: 1000px;
}
#loginas{
    text-align: center;
    padding-bottom: 30px;
}
#selectChioce{
    text-align: center;
    font-family: montserrat;
}
div.choose{
    display: flex;
    justify-content: center;
    padding: 10px;
}
div.loginOption{
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif
}
div.loginOption:hover{
    cursor: pointer;
    box-shadow: -10px -10px 50px 10px #ffffff;
    transition: .3s
}
div#adminOption{
    border: 2px solid black;
    background: rgb(255, 200, 0);
    border-radius: 8px;
    margin: 10px;
}
div#bankerOption{
    border: 2px solid black;
    background: rgb(255, 200, 0);
    border-radius: 8px;
    margin: 10px;
}
.aboutPart{
    display: flex;
    justify-content: center;
}
#aboutRoyal{
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 450px;
    color: #ffffff;
    font-style: italic;
}
.choose a{
    text-decoration: none;
    color: black;
}
.usernamePass{
    margin-top: 30px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 3px 3px 20px 3px #00234076;
}
.usernamePass label{
    font-family: montserrat;
}
input.login{
    font-family: montserrat;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
    width: 170px;
    border: none;
    padding: 3px;
    border-bottom: 1px solid black;
}
button.userLogin{
    padding: 8px;
    margin: 10px;
    font-family: montserrat;
    background: rgb(255, 200, 0);
    border-radius: 8px;
    font-weight: 700;
}

button.userLogin:hover{
    cursor: pointer;
    background: rgb(255, 219, 88);
}
.panelOption{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
li.panelOption{
    padding: 15px;
    background: rgba(0, 140, 255, 0.491);
}
.panelOption ul a{
    padding: 5px;
    text-decoration: none;
    font-family: montserrat;
    color: black;
    background: rgb(255, 255, 255);
    margin: 3px;
}
.panelOption ul a:hover{
    border-bottom: 3px solid black;
/* background: bisque; */
}

.workAreaInfo div{
    /* text-align: ; */
    padding: 2px;
    font-family: montserrat;
    margin-left: 50px;
    margin-right: 50px;
    /* font-weight: b; */
}
div.workPane{
    /* margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; */
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.728);
    border-radius: 17px;
    max-width: 700px;
    box-shadow: 3px 3px 30px 3px #00417669;
}
label.cusInfoArea{
    margin: 100px;
    /* margin-top: 30px; */
    padding: 5px;
}
div .infoArea{
    width: 400px;
    margin-left: 90px;
    border-bottom: 2px solid rgb(191, 191, 191);
}
div .infoArea:hover{
    background: rgba(0, 117, 143, 0.148);
    border-bottom: 2px solid rgba(0, 125, 188, 0.84);
    transition: 0.3s;
}
div .infoLabel{
    font-weight: bold;
}
/*Work on Search bar for banker panel*/
form#cusSearchBar{
    margin: 5px;
    display: flex;
    padding: 5px;
}

button#cusSearch{
    background: rgba(75, 164, 248, 0.753);
    color: white;
    border: none;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    font-family: montserrat;
    font-weight: bold;
}
button#cusSearch:hover{
    cursor: pointer;
}
button#cusSearch label:hover{
    cursor: pointer;
}
input#accBar{
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 3px;
}
div.executeBtn{
    text-align: center;
    padding: 7px;
    margin-top: 15px;
}
div.executeBtn button:hover{
    cursor: pointer;
}
div.executeBtn button{
    font-family: montserrat;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: rgb(0, 162, 255);
    color: white;
}
.transactionHistory p{
    font-family: 'Courier New', Courier, monospace;
}
.transactionHistory{
    overflow: scroll;
}
@media only screen and (max-device-width: 800px) {

}